__pycache__/
*.json
.env/
env/
.venv/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.log
coverage/
*.egg-info/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pyre/
.pytype/
.pyright/
celerybeat-schedule
instance/
.webassets-cache/
.scrapy/
docs/_build/
thumbs.db
*.sqlite3
*.db
*.bak
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
